#todo {
	margin: 0 auto;
	width: 54%;
}

#menu ul {
	border-radius: 10px;
	background-color: #ADD8E6;
	/*retira o marcador da lista*/
	list-style: none;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;
}

#menu ul li a:hover {
	color: #DCDCDC;
}

#forme {
	padding: 2%;
	margin: 0 auto;
	width: 50%;
	background-color: #666;
}

#forme input {
	padding: 2%;
	margin: 10px;
	width: 50%;
	border-radius: 7%;
}

#forme textarea {
	padding: 2%;
	margin: 10px;
	border-radius: 7px;
	width: 50%;
}

#forme button {
	padding: 5px;
	margin: 5px;
	border-radius: 7px;
}

/*rodapé*/
#redes {
	padding: 0;
	width: 100%;
	background: #ADD8E6;
	border-radius: 0px 0px 10px 10px;
}

#redes table tr td a img {
	width: 30px;
	padding: 0px 50px 0px 50px;
}

#dev  h6 {
	text-align: center;
	margin: 0 auto;
	background: #DCDCDC;
	border-radius: 0px 0px 10px 10px;
}