@charset "ISO-8859-1";

#todo {
	margin: 0 auto;
	width: 65%
}

body {
	margin: 1%;
}

#menu ul {
	margin: 0;
	background-color: #ADD8E6;
	/*retira o marcador da lista*/
	list-style: none;
	border-radius: 10px;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;
}

#menu ul li a:hover {
	color: #DCDCDC;
}

#rodape {
	padding: 0px 0px 0px 0px;
	height: 20%;
	background: #ADD8E6;
	margin: 3px;
	border-radius: 10px;
}

#rodape p {
	margin: 10px 10px 10px;
}

#rodape h2 {
	margin: 10px 10px 10px;
}
/*rodapé*/
#redes {
	padding: 0;
	width: 100%;
	background: #ADD8E6;
	border-radius: 10px;
}

#redes table tr td a img {
	width: 30px;
	padding: 0px 50px 0px 50px;
}

#dev  h6 {
	text-align: center;
	margin: 0 auto;
	background: #DCDCDC;
	border-radius: 0px 0px 10px 10px;
}